- if notice.present?
  %p.text-green-600.mb-4= notice

.max-w-3xl.mx-auto
  %h1.text-3xl.font-bold.text-gray-800
    = @article.title
  .mt-8.text-gray-700.leading-relaxed
    = simple_format(@article.body)
